# Terraform
**/.terraform/
**/.terraform.lock.hcl
**/terraform.tfstate
**/terraform.tfstate.backup
**/terraform.tfvars
*.tfplan
crash.log
crash.*.log

# OS
.DS_Store
Thumbs.db

# Editors
.vscode/
.idea/
*.swp
*~

# Python
__pycache__/
*.pyc
.venv/
venv/

# Backup files from sed -i
*.bak
